:root {
	/* This variable sets sizes for hamburgers. */
	--girth: 12.5rem;
}

hamburger, hamburger * {
	/* Hamburgers are stacked from the bottom up. */
	display: inline-flex;
	flex-direction: column-reverse;
	width: var(--girth);
}

hamburger * {
	/* The components aren't inline; the hamburger is! */
	display: flex;
}

hamburger bun[half], hamburger bun::after, hamburger bun::before {
	/* Hamburger bun styles. */
	content: "";

	background-color: wheat;
	border-radius:  5% / 25%;
	height: calc(var(--girth) / 9);
}

hamburger bun::after {
	/* The bottom bun has a different shape. */
	border-radius: 100% 100% 5% 5% / 100% 100% 25% 25%;
	height: calc(var(--girth) / 6);
}

hamburger bun::before {
	/* The bottom bun has a different shape. */
	border-radius: 1.25% 1.25% 5% 5% / 25%;
	height: calc(var(--girth) / 12);
}